@media (max-width: 768px) {
/* responsive navbar */
.nav-text {
    display: none;
}
.avatar-banner {
  display: none;
}
#nav-bar a:link,
a:visited {
    padding: 16px;
    margin-right: 1rem;
    padding-bottom: 30px;
}
#nav-bar {
    margin-top: 1rem;
}

#title1 {
  border-right: none !important;
}

/* responsive about */
#about .container {
    padding-left: 15px;
    padding-right: 15px;
}

/* responsive job */
#job-info {
    padding-left: 15px;
    padding-right: 15px;
}

.job-grid {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 20px;
}

/* responsive certificate */
.img-cer {
  max-width: 100%;
  height: auto;
  margin-right: 10px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
}

.cer-contain {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.card1 {
  border-left: 2px solid #d6c08d;
  padding-left: -30px;
}

.card2 {
  border-top: 2px solid #d6c08d;
}

/* responsive project */
.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.project-title {
  font-size: 14px;
}

.project-boder {
  font-size: 10px;
  padding: 10px 4px !important;
}

.project-boder span {
  margin-right: 4px !important;
}

td {
  font-size: 12px;
}

tr td:first-child {
  width: 30%;
}

/* Responsive general project-character */
.column {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
}

.column-1 { order: 1; }
.column-4 { order: 2; }
.column-2 { order: 3; }
.column-5 { order: 4; }
.column-3 { order: 5; }

#project-scope,
#project-primary {
  margin-top: 0;
}

section h2 {
  font-size: 1.5rem;
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;
  margin-top: 0;
}

#project-goals {
  height: 470px;
}

#project-scope {
  height: 300px;
}

#project-team {
  height: 430px;
}

.scope-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.grid-item {
  border: 1px solid #ccc;
  padding: 3.5rem;
  background-color: #f4f4f4;
}

.item-icon {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

.item-icon i {
  display: block;
  margin: 0 auto 10px;
}

/* Responsive goals */
.goals-item {
  position: relative;
  margin-bottom: 30px;
}

.goals-item .item-icon {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
}

.item-title {
  margin-top: 20px;
}

.goals-item {
  position: relative;
  margin-bottom: 30px;
}

/* Responsive team */
.member-item {
  position: relative;
}

.member-item .item-icon {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.member-item .item-title {
  margin-top: 10px;
}

.member-item .item-text {
  margin-bottom: 50px;
}

.member-item .icon-user {
  font-size: 24px;
}

/* Responsive primary */
.primary-item {
  position: relative;
}

.primary-item .item-icon {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.primary-item .item-text {
  margin-top: 50px;
}

.primary-item .fa-circle-question {
  font-size: 24px;
}

/* Responsive timeline */
.timeline-item {
  position: relative;
}

.item-icon {
  position: absolute;
  top: 0;
}

.timeline-item .item-title {
  margin-top: 80px;
}

.timeline-item .circle {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 12px;
  background: #9E88FF;
  border: 3px solid #000;
  color: #FFFFFF;
  text-align: center;
  font: 23px Arial, sans-serif;
}

.dotted {
  font-size: 20px;
  letter-spacing: 11px;
}

}